
.characters-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: blueviolet;
    padding: 15px;
}
.pagination{
    background-color: violet;
    text-align: center;
    font-size: x-large;
}