* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pagination {
  visibility: hidden;
  width: 100%;
  background-color: rgb(40, 2, 129);
  text-align: center;
  font-size: x-large;
}

.item-link {
  text-decoration: none;
  color: lavender;
}
.item-link:active {
  color: lavenderblush;
}
.item-link:hover {
  color: rgb(101, 233, 233);
}
