* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #3b3c42;

}
.pagination {
  visibility: hidden;
  width: 100%;
  background-color: rgb(40, 2, 129);
  text-align: center;
  font-size: x-large;
}

